@import url('https://fonts.googleapis.com/css2?family=Muli:wght@100;300;400;500&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #f6f7fb;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
}
